<div class="main-header d-flex justify-content-start align-items-center p-3">
        <img  src="assets/img/logo.png" alt="" width="32" height="32">
        <h5 class="mr-auto">Accolite Softwares</h5>
        <div class="user-info mr-2">
         8296889539
        </div>
        <button  type="submit" class="btn btn-sm btn-primary mr-2" >Log In</button>
        <button  type="submit" class="btn btn-sm btn-primary mr-2" >Sign Up</button>
        <button  type="submit" class="btn btn-sm btn-danger mr-2" >Logout</button>
       
</div>