
    <app-main-header></app-main-header>
    <app-header></app-header>
    <div class="pg-container">
      <div class="main">
          <div class="view-screen">
        

          </div>
          <div class="action-container">
              <div>
                    <button type="button" class="btn btn-warning btn-sm mr-2">Mark for review</button>
                    <button type="button" class="btn btn-info btn-sm mr-2">Clear</button>
              </div>
              <div>
                    <button type="button" class="btn btn-primary btn-sm mr-2">Primary</button>
                    <button type="button" class="btn btn-success btn-sm mr-2">Submit        </button>

              </div>
               
                

          </div>
        
      </div>
      <div class="side">
          <div class="pg-card-summary">
                <div class="pg-card">
                    <div class="count bg-danger text-white">{{master?.section?.getNotAnswered()}}</div>
                   <div class="state">Not Answered</div>
                </div>
                    <div class="pg-card">
                        <div class="count bg-dark text-white"> {{master?.section?.getNotVisited()}}</div>
                            <div class="state">Not Visited </div>
                      </div>
                      <div class="pg-card">
                            <div class="count bg-warning text-white"> {{master?.section?.getMarkedForReview()}}</div>
                            <div class="state">Marked for review</div>
                          </div>
                          <div class="pg-card">
                                <div class="count bg-primary text-white"> {{master.section.getAnsweredAndMarkedForReview()}}</div>
                                <div class="state"> Answered & Marked for review</div>
                              </div>
                              <div class="pg-card ">
                                    <div class="count bg-success text-white"> {{master.section.getAnswered()}}</div>
                                    <div class="state">Answered</div>
                                  </div>
          </div>
          <div class="pg-card-container">
              <div class="pg-card" *ngFor="let question of master?.section?.questionList">{{question.number}}</div>
          </div>
        </div>
    </div>

